<meta charset="utf-8">
<div th:fragment="sidebar" class="sidebar">
    <div class="about panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">关于本站</h3>
        </div>
        <div class="panel-body">
            <ul>
                <p th:text="${@module.get('sysConfig').SITE_NAME}" class="abname"></p>
                <p th:text="${@module.get('sysConfig').SITE_DESC}" class="abtext"></p>
            </ul>
        </div>
    </div>
    <div class="tag panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">标签云</h3>
        </div>
        <div class="panel-body">
            <ul>
                <li th:each="item:${@module.get('tagList')}" class="tag-li"><a class="btn btn-success btn-xs"  th:text="${item.name}"></a></li>
            </ul>
        </div>
    </div>
    <div class="tag panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">友情链接</h3>
        </div>
        <div class="panel-body">
            <ul>
                <li th:each="item:${@module.get('linkList')}" class="tag-li"><a class="btn btn-default btn-xs" th:href="${item.url}" th:text="${item.name}"></a></li>
            </ul>
        </div>
    </div>
    <div class="webinfo panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">网站信息</h3>
        </div>
        <div class="panel-body">
            <ul>
                <li> <i class="fa fa-user fa-fw"></i> 当前系统总人数：<span >[[${@module.get('siteInfo').userNums}]]</span> 人</li>
                <li> <i class="fa fa-navicon fa-fw"></i> 系统题库总量：<span >[[${@module.get('siteInfo').questionNums}]]</span> 道题</li>
                <li> <i class="fa fa-coffee fa-fw"></i> 课程总数：<span >[[${@module.get('siteInfo').subjectNums}]]</span> 门课程</li>
            </ul>
        </div>
    </div>

</div>